:root {
    --header-size: 20px;
    --nav-size: 18px;
    --li-size: 16px;
    --large-size: 18px;
}

body {
    margin: 2%;
    background-color: #fabf77;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: var(--nav-size);
}

a:hover {
    text-decoration: underline;
}

#google-icon, #user-login {
    font-size: var(--nav-size);
}

i:hover {
    cursor: pointer;
}

#background-picture {
    background-image: url('back-pic.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}

#pic {
    width: 100%;
    height: 60%;
    margin-right: 2%;
}

#user-form {
    display: none;
}

#restaurant {
    margin-top: -130px;
    color: white;
}

#about-us {
    margin-top: 120px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: var(--header-size);
}

/* li {
    list-style-type: none;
    font-size: var(--li-size);
} */

#addForm {
    padding: 10px 10px 10px 10px;
    width: 80%;
    border: 1px solid black;
}

label {
    font-size: 18px;
}

input {
    width: 90%;
    border-radius: 100px;
}

#inputImg {
    padding: 5px 5px;
}

button {
    width: 100px;
    padding: 5px 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0,0,0,0.9);
}

.update-content {
    background-color: #fefefe;
    margin: 8%;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: auto;
    vertical-align: center;
}

#menus, #menus-for-role {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    gap: 12px 12px;
}

.meal {
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    text-align: center;
}

.italic {
    font-style: italic;
}

.picture-container {
    width: 300px;
    height: 300px;
    box-shadow: 5px -10px #f57d63;
}

/* On screeens that are 900px or less, set the background to blue */

@media screen and (min-width: 800px){
    
    nav a { 
        font-size: var(--large-size);
    }

    #google-icon, #user-login {
        font-size: var(--large-size);
    }

    #pic {
        width: 80%;
        height: 40%;
        margin-left: 10%;
        text-align: center;
        background-position: center;
    }

    #restaurant {
        margin-top: -130px;
        color: white;
        font-size: 28px;
    }

    #menu, h1 {
        font-size: var(--large-size);
    }

    label {
        font-size: var(--large-size);
    }

    input, select {
        font-size: var(--large-size);
    }

    button {
        font-size: var(--large-size);
        padding: 8px 8px;
        display: inline;
    }

    .update-content {
        font-size: var(--large-size);
    }

    #menus, #menus-for-role {
        gap: 18px 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .meal {
        font-size: 16px;
        min-width: 400px;
        min-height: 400px;
        max-width: 600px;
        max-height: 600px;
    }

    .picture-container {
        width: 300px;
        height: 300px;
        max-height: 350px;
        max-width: 350px;
    }

    #addForm {
        margin-left: 10%;
    }

    #about-us p {
        display: inline;
        margin-left: 15px;
    }
}