:root {
    --header-size: 20px;
    --nav-size: 14px;
    --li-size: 16px;
}

body {
    margin: 2%;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 5px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: var(--nav-size);
}

a:hover {
    text-decoration: underline;
}

#background-picture {
    background-image: url('back-pic.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}

#pic {
    width: 100%;
    height: 70%;
}

#user-form {
    display: none;
}

#restaurant {
    margin-top: -130px;
    color: white;
}

#menu {
    margin-top: 110px;
}

i {
    font-size: var(--nav-size);
}

i:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: var(--header-size);
}

li {
    list-style-type: none;
    font-size: var(--li-size);
}

#eliminate{
    font-size: 30px;
}

#eliminate:hover {
    cursor: pointer;
}

#addForm {
    padding: 10px 10px 10px 10px;
    width: 80%;
    border: 1px solid black;
}

label {
    font-size: 18px;
}

input {
    width: 90%;
    border-radius: 100px;
}

#inputImg {
    padding: 5px 5px;
}

button {
    width: 100px;
    padding: 5px 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0,0,0,0.9);
}

.update-content {
    background-color: #fefefe;
    margin: 8%;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: auto;
    vertical-align: center;
}

.close {
    color: rgb(176, 176, 176);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}